.nvd3 .nv-bars rect {
  fill-opacity: .6;

  transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear;
}

.nvd3 .nv-bars rect.hover {
  fill-opacity: 1;
}

.nvd3 .nv-bars .hover rect {
  fill: lightblue;
}

.nvd3 .nv-bars text {
  fill: rgba(0,0,0,0);
}

.nvd3 .nv-bars .hover text {
  fill: rgba(0,0,0,1);
}

.nvd3 .nv-multibar .nv-groups rect,
.nvd3 .nv-multibarHorizontal .nv-groups rect,
.nvd3 .nv-discretebar .nv-groups rect {
  fill-opacity: .6;
  stroke-opacity: 0;

  transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear;
}

.nvd3 .nv-multibar .nv-groups rect:hover,
.nvd3 .nv-multibarHorizontal .nv-groups rect:hover,
.nvd3 .nv-candlestickBar .nv-ticks rect:hover,
.nvd3 .nv-discretebar .nv-groups rect:hover {
  fill-opacity: 1;
}

.nvd3 .nv-discretebar .nv-groups text,

.nvd3 .nv-multibarHorizontal,
.nvd3 .nv-funnel
{
  .nv-groups {
    .nv-bar-label {
      font-weight: bold;
      fill: rgba(0, 0, 0, 1);
      stroke: rgba(0, 0, 0, 0);

      pointer-events: none;
    }

    .nv-href:hover text {
      fill: rgba(0, 0, 0, .8);
      text-decoration: underline;
    }

    .nv-bar-value {
      fill: #444;
      stroke: #444;
      stroke-opacity: .3;
      font-weight: normal !important;
      font-size: 12px;
    }

    .nv-group:not(.nv-series-0) {
      pointer-events: none;
    }
  }
}


.nvd3 .nv-funnel .nv-bar {

  fill-opacity: .8;

  &:hover {
    fill-opacity: 1;
  }

  stroke: none !important;

  .nv-check {
    /*opacity: 0.5;*/
    pointer-events: bounding-box;
  }

  &.selected {
    .nv-check {
      opacity: 1;
    }
  }

  &.reduced {
    .nv-check {
      opacity: 1;
      fill: rgba(0,0,0,0.6);
    }
  }


  .nv-dropoff {
    opacity: .4;

    .nv-reducer,
    .nv-reducer-arrow {
      stroke: none;
      fill: rgba(0,0,0,0.6);
    }

    .nv-reducer-value {
      fill: white;
      stroke-opacity: .4;
      stroke: white;
    }

  }

  &:hover {
    .nv-dropoff {
      opacity: 1;
    }
  }

  .nv-bar-value {
    fill: #444;
    stroke-opacity: .6;
    stroke: #444;
  }

  .nv-bar-value2 {
    stroke-opacity: .4;
    fill: #666;
    font-size: .6em;
    font-style: italic;
  }


  &:last-child {
    .nv-bar-arrow {
      display: none;
      opacity: 0;
    }
  }

}

/*.nvd3-svg {
  .nv-funnel .nv-bar {
    .nv-reducer-value {
      opacity: 0;
    }
  }

  &:hover {
    .nv-funnel .nv-bar {
      .nv-reducer-value {
        opacity: 1;
      }
    }
  }
}*/


.nvd3 .nv-multibarHorizontal .nv-bar {
  path {
    opacity: 0;
    fill: white;
  }

  &:hover {
    .nv-reducer {
      opacity: .8;
    }

  }

  &.selected {
    path, rect {
      opacity: 1;
      fill-opacity: 1;
    }
  }
}
