.nvd3 {
  .nv-sankey {

    .node {
      rect {
/*        fill-opacity: .6;*/
        shape-rendering: crispEdges;
        fill: #cee0bd;
        cursor: default;
      }

      &.selected rect{
        fill-opacity: 1;
        fill: #75b435;
      }

      text {
        pointer-events: none;
        //text-shadow: 0 1px 0 #fff;
      }

      line.meter {
        stroke-opacity: .6;
        pointer-events: stroke;
        /*
        stroke: white;
        stroke-width: 2px;
        */
        &:hover{
          stroke-opacity: .9;
        }
      }

      &.selected {
        .flow-up, .flow-down {

          fill: #cee0bd;
        }
      }

      .flow-up, .flow-down{
        fill: #75b435;
        pointer-events: all;

        &:hover{
          fill: #668082;
        }

      }
    }

    .link {
      fill: none;
      stroke: #668082;
      stroke-opacity: .45;
      cursor: default;

      &.selected{
        stroke-opacity: .9;
        stroke: #668082;
      }

      &:hover {
        stroke-opacity: .9;
        stroke-dasharray: none;
      }
    }

    .pane {
      cursor: move;
      fill: none;
      pointer-events: all;
    }
  }
}