.nvd3 {
  .nv-sankey {

    .node {
      rect {
        fill-opacity: .6;
        shape-rendering: crispEdges;
        fill: steelblue;
      }

      &.selected rect{
        fill-opacity: 1;
        fill: darksteelblue;
      }

      text {

        pointer-events: none;
        //text-shadow: 0 1px 0 #fff;
      }
    }

    .link {
      fill: none;
      stroke: #aaa;
      stroke-opacity: .25;

      &.selected{
        stroke-opacity: .9;
      }

      &:hover {
        stroke-opacity: .7;
      }
    }

  }
}