.nvd3 {
  .nv-sankey {

    .node {
      rect {
        fill-opacity: .6;
        shape-rendering: crispEdges;
        fill: steelblue;
      }

      &.selected rect{
        fill-opacity: 1;
        fill: #276fab);
      }

      text {

        pointer-events: none;
        //text-shadow: 0 1px 0 #fff;
      }

      line.meter {
        stroke-opacity: .6;
        /*
        stroke: white;
        stroke-width: 2px;
        */
        &:hover{
          stroke-opacity: .9;
        }
      }
    }

    .link {
      fill: none;
      stroke: #aaa;
      stroke-opacity: .45;

      &.selected{
        stroke-opacity: .95;
      }

      &:hover {
        stroke-opacity: .7;
      }
    }

    .pane {
      cursor: move;
      fill: none;
      pointer-events: all;
    }
  }
}