.nvd3 .nv-sankey .nodeWrap {
  pointer-events: fill;
}
.nvd3 .nv-sankey .node rect.item {
  stroke-opacity: .6;
  /*shape-rendering: crispEdges;*/
  stroke: steelblue;
  stroke-width: 25px;
}
.nvd3 .nv-sankey .node.selected rect.item {
  stroke-opacity: 1;
  stroke: white 2px;
  stroke: royalblue;
}
.nvd3 .nv-sankey .node text {
  pointer-events: none;
}
.nvd3 .nv-sankey .linkWrap {
  pointer-events: fill;
}
.nvd3 .nv-sankey .link {
  fill: none;
  stroke: #aaa;
  stroke-opacity: .3;
}
.nvd3 .nv-sankey .link.selected {
  stroke-opacity: .9;
}
.nvd3 .nv-sankey .link:hover {
  stroke-opacity: .7;
}
.nvd3 .nv-sankey rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}
