.nvd3 .nv-sankey .node rect {
  cursor: move;
  fill-opacity: 1;
  shape-rendering: crispEdges;
}
.nvd3 .nv-sankey .node:not(.selected) rect {
  cursor: default;
  fill-opacity: .3;
  stroke: white 2px;
}
.nvd3 .nv-sankey .node text {
  pointer-events: none;
}
.nvd3 .nv-sankey .link {
  fill: none;
  stroke: #aaa;
  stroke-opacity: .25;
}
.nvd3 .nv-sankey .link.selected {
  stroke-opacity: .9;
}
.nvd3 .nv-sankey .link:hover {
  stroke-opacity: .7;
}
